<div class="main-container">
  <div (click)="navigateTo('dashboard')" class="item">'dashboard'</div>
  <div (click)="navigateTo('framing')" class="item">'framing'</div>
  <div (click)="navigateTo('glassing')" class="item">'glassing'</div>
  <div (click)="navigateTo('search')" class="item">'search'</div>
  <div (click)="navigateTo('debts')" class="item">'debts'</div>
  <div (click)="navigateTo('exit')" class="item">'exit'</div>
  <div (click)="navigateTo('settings')" class="item">'settings'</div>
</div>
