// basic-alert component
snack-bar-container.mat-snack-bar-container {
  padding: 0px;
  width: 80%;
  margin: 8px auto;
  overflow: hidden;

  .feather {
    height: 40px;
    width: 40px;
  }
}

//info snackbar
snack-bar-container.info-snack {
  margin: 10px;
  background-color: transparent;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  max-width: 70%;

  .feather {
    height: 24px;
    width: 24px;
  }
}
