<form #userForm="ngForm">
  <div class="form-group">
    <span class="count">count:</span>
    <input
      type="number"
      #count="ngModel"
      name="count"
      [(ngModel)]="dataModel.count"
      (click)="inputNumber('count')"
    />
  </div>
  <div class="form-group">
    <mat-checkbox name="innerDimensions" [(ngModel)]="dataModel.isChecked">
      <div class="text">innerDimensions</div>
    </mat-checkbox>
  </div>
  <div class="form-group">
    <div class="input-dimensions">
      <input
        type="number"
        #width="ngModel"
        name="width"
        [(ngModel)]="dataModel.width"
        (click)="inputNumber('width')"
      />
      X
      <input
        type="number"
        #width="ngModel"
        name="height"
        [(ngModel)]="dataModel.height"
        (click)="inputNumber('height')"
      />
      cm
    </div>
  </div>
  <div class="form-group">
    <app-button [text]="'glass'" (clickEvent)="select('glass')"></app-button>
    <div class="value">
      {{ dataModel.glass.displayValue || "glassNotSelected" }}
    </div>
  </div>
  <div class="form-group">
    <app-button [text]="'passpartu'" (clickEvent)="select('passpartu')">
    </app-button>
    <div class="value">
      {{ dataModel.passpartu.displayValue || "passpartuNotSelected" }}
    </div>
  </div>
  <div class="form-group">
    <app-button [text]="'mirror'" (clickEvent)="select('mirror')"></app-button>
    <div class="value">
      {{ dataModel.mirror.displayValue || "mirrorNotSelected" }}
    </div>
  </div>
</form>
