<div class="container">
  <mat-horizontal-stepper
    linear
    #stepper
    class="user-select-none"
    (selectionChange)="markFormAsTouched($event)"
  >
    <ng-template matStepperIcon="edit">
      <i-feather
        name="check"
        class="step-label-heading-completed icon"
      ></i-feather>
    </ng-template>
    <mat-step
      #stepOne
      *ngIf="dimensionsInputAttributeForm"
      [stepControl]="dimensionsInputAttributeForm"
    >
      <form [formGroup]="dimensionsInputAttributeForm">
        <ng-template matStepLabel>
          <div class="click-holder" (click)="checkStepBeforeSwitch(0)"></div>
          <span
            class="step-label-heading bold"
            [class.step-label-heading-active]="stepper.selected === stepOne"
            [class.step-label-heading-completed]="
              stepOne.completed && stepper.selected !== stepOne
            "
            >{{ "inputDimensions" | translate }}</span
          >
        </ng-template>

        <div class="step-content box-sizing-border-box">
          <h1 class="step-content-label bold">
            {{ "inputDimensions" | translate }}
          </h1>

          <div class="attribute-group-container">
            <div class="group-container">
              <div class="row-container">
                <mat-form-field>
                  <input
                    type="number"
                    matInput
                    formControlName="count"
                    placeholder="{{ 'inputCount' | translate }}"
                  />
                </mat-form-field>
              </div>
              <div class="row-container">
                <mat-form-field class="element">
                  <input
                    type="number"
                    matInput
                    formControlName="width"
                    placeholder="{{ 'width' | translate }}"
                  />
                </mat-form-field>
                <div class="element">X</div>
                <mat-form-field class="element">
                  <input
                    type="number"
                    matInput
                    formControlName="height"
                    placeholder="{{ 'height' | translate }}"
                  />
                </mat-form-field>
                <div class="uom">{{ invoice.uom }}</div>
              </div>
              <div class="row-container-data" *ngIf="!invoice.mirror">
                <app-button
                  [text]="'glass' | translate"
                  buttonSize="middle"
                  fullWidth="true"
                  (clickEvent)="selectGlass()"
                ></app-button>
                <div class="object-name" [ngClass]="invoice?.glass?.name">
                  <i-feather
                    [name]="invoice?.glass?.name ? 'check' : 'alert-triangle'"
                    [class.success]="invoice?.glass?.name"
                    [class.danger]="!invoice?.glass?.name"
                  ></i-feather>
                  {{ invoice?.glass?.name || "glassNotSelected" | translate }}
                </div>
              </div>
              <div class="row-container-data">
                <app-button
                  [text]="'passpartu' | translate"
                  buttonSize="middle"
                  fullWidth="true"
                  (clickEvent)="selectPasspartu()"
                ></app-button>
                <div class="object-name">
                  <i-feather
                    [name]="
                      invoice?.passpartu?.name ? 'check' : 'alert-triangle'
                    "
                    [class.success]="invoice?.passpartu?.name"
                    [class.danger]="!invoice?.passpartu?.name"
                  ></i-feather>
                  {{
                    invoice?.passpartu?.name || "passpartuNotSelected"
                      | translate
                  }}
                  / {{ invoice?.passpartuWidth }}
                </div>
              </div>
              <div class="row-container-data" *ngIf="!invoice.glass">
                <app-button
                  [text]="'mirror' | translate"
                  buttonSize="middle"
                  fullWidth="true"
                  (clickEvent)="selectMirror()"
                ></app-button>
                <div class="object-name">
                  <i-feather
                    [name]="invoice?.mirror?.name ? 'check' : 'alert-triangle'"
                    [class.success]="invoice?.mirror?.name"
                    [class.danger]="!invoice?.mirror?.name"
                  ></i-feather>
                  {{ invoice?.mirror?.name || "mirrorNotSelected" | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="footer box-sizing-border-box">
            <app-button
              [text]="'cancel' | translate"
              color="secondary"
              buttonSize="middle"
              (clickEvent)="cancel()"
            ></app-button>
            <app-button
              [text]="'next' | translate"
              buttonSize="middle"
              [color]="'success'"
              (clickEvent)="stepper.next(); checkStepBeforeSwitch(1)"
            ></app-button>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
