<mat-tab-group mat-align-tabs="start">
  <mat-tab label="First">
    <div class="tab-content">
      <app-dimensions></app-dimensions>
    </div>
    <div class="footer">
      <app-button [text]="'cancel' | translate"></app-button>
      <app-button [text]="'next' | translate" (clickEvent)="nextStep()">
      </app-button>
    </div>
  </mat-tab>
  <mat-tab label="Second">
    <div class="tab-content">
      <app-frames></app-frames>
    </div>
    <div class="footer">
      <app-button [text]="'previous' | translate" (clickEvent)="previousStep()">
      </app-button>
      <app-button [text]="'next' | translate" (clickEvent)="nextStep()">
      </app-button>
    </div>
  </mat-tab>
  <mat-tab label="Third">
    <div class="tab-content">
      <app-invoice></app-invoice>
    </div>
    <div class="footer">
      <app-button [text]="'previous' | translate" (clickEvent)="previousStep()">
      </app-button>
      <app-button [text]="'finish' | translate" (clickEvent)="finishStep()">
      </app-button>
    </div>
  </mat-tab>
</mat-tab-group>
