.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 350px;

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .title {
        display: flex;
        width: 100%;
        text-align: center;
        font-size: 1.5em;
        font-weight: 600;
        align-items: center;
        margin: 20px 0;
      }

      .buttons {
        display: flex;
        width: 100%;
        margin-top: 20px;
        justify-content: space-between;
        margin-bottom: 30px;
        justify-content: flex-end;
      }
    }

    .input {
      display: flex;
      width: 100%;
      margin-bottom: 30px;
      justify-content: space-between;

      .field {
        font-size: 1.5em;
      }

      .uom {
        display: flex;
        font-size: 1.5em;
        align-self: center;
      }
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;

    .grid-item {
    }
  }

  .footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
  }
}
