<div class="container">
  <!-- <form [formGroup]="invoiceForm" *ngIf="invoiceForm">
    <div class="form-group">
      <div class="element buyer-name">
        <mat-form-field class="element">
          <input
            matInput
            type="text"
            formControlName="buyerName"
            name="buyerName"
            placeholder="{{ 'buyerName' | translate }}"
          />
        </mat-form-field>
      </div>
      <div class="element buyer-phone">
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="buyerPhone"
            name="buyerPhone"
            placeholder="{{ 'buyerPhone' | translate }}"
          />
        </mat-form-field>
      </div>
      <div class="element advance-payment">
        <mat-form-field>
          <input
            matInput
            type="number"
            formControlName="advancePayment"
            name="buyerName"
            placeholder="{{ 'advancePayment' | translate }}"
          />
        </mat-form-field>
        <div class="additional-buttons">
          <app-button
            [text]="'all' | translate"
            [buttonSize]="'small'"
            [isTransparentMode]="true"
            (clickEvent)="setFullPayment()"
          ></app-button>
          <app-button
            [text]="'+1000'"
            [buttonSize]="'small'"
            [isTransparentMode]="true"
            (clickEvent)="increasePaymentFor(1000)"
          ></app-button>
          <app-button
            [text]="'+500'"
            [buttonSize]="'small'"
            [isTransparentMode]="true"
            (clickEvent)="increasePaymentFor(500)"
          ></app-button>
          <app-button
            [text]="'+100'"
            [buttonSize]="'small'"
            [isTransparentMode]="true"
            (clickEvent)="increasePaymentFor(100)"
          ></app-button>
        </div>
      </div>
    </div>
  </form> -->
</div>
