<div class="main-container">
  <table>
    <thead>
      <tr>
        <th colspan="2">{{ "format" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{ "decimalNumberSign" | translate }}/{{
            "thousandsNumberSign" | translate
          }}
        </td>
        <td></td>
      </tr>
      <tr>
        <td>{{ "numberFormat" | translate }}</td>
        <td>??????</td>
      </tr>
      <tr>
        <td>{{ "dateFormat" | translate }}</td>
        <td></td>
      </tr>
      <tr>
        <td>{{ "currencyFormat" | translate }}</td>
        <td></td>
      </tr>
      <tr>
        <td>{{ "currencyDisplayValue" | translate }}</td>
        <td></td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th colspan="2">{{ "appDisplay" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ "buttonSize" | translate }}</td>
        <td></td>
      </tr>
      <tr>
        <td>{{ "fontSize" | translate }}</td>
        <td></td>
      </tr>
      <tr>
        <td>{{ "fontSizeList" | translate }}</td>
        <td></td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th colspan="2">{{ "basicSettings" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ "maxTrCount" | translate }}</td>
        <td>??????</td>
      </tr>
      <tr>
        <td>{{ "minSurfacem2" | translate }}</td>
        <td>??????</td>
      </tr>
      <tr>
        <td>{{ "defaultFrameWidth" | translate }}</td>
        <td>??????</td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th colspan="2">{{ "printer" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ "copies" | translate }}</td>
        <td></td>
      </tr>
      <tr>
        <td>{{ "footer" | translate }}</td>
        <td></td>
      </tr>
      <tr>
        <td>{{ "header" | translate }}</td>
        <td></td>
      </tr>
      <tr>
        <td>{{ "printer" | translate }}</td>
        <td></td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th colspan="2">{{ "dataInput" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ "passpartuWidth" | translate }}</td>
        <td></td>
      </tr>
      <tr>
        <td>{{ "frameWidthHeight" | translate }}</td>
        <td></td>
      </tr>
      <tr>
        <td>{{ "defaultUom" | translate }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="buttons">
    <app-button [text]="'cancel'" (clickEvent)="cancel()"></app-button>
    <app-button [text]="'save'" (clickEvent)="save()"></app-button>
  </div>
</div>
