<mat-dialog-content>
  <h1>{{ (isEdit ? "editYourData" : "create new data") | translate }}</h1>
  <mat-form-field *ngFor="let item of items">
    <mat-label>{{ item.label }}</mat-label>
    <ng-container *ngIf="item.type === 'string'">
      <input
        matInput
        value="{{ item.value }}"
        [disabled]="item.disabled"
        [required]="item.required"
      />
    </ng-container>
    <ng-container *ngIf="item.type === 'number'">
      <input
        matInput
        type="number"
        value="{{ item.value }}"
        [disabled]="item.disabled"
        [required]="item.required"
      />
    </ng-container>
    <ng-container *ngIf="item.type === 'select'">
      <mat-select
        name="food"
        [disabled]="item.disabled"
        [required]="item.required"
      >
        <mat-option *ngFor="let v of item.optionalValues" [value]="v.key">
          {{ v.value }}
        </mat-option>
      </mat-select>
    </ng-container>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <app-button
    [text]="'cancel'"
    color="secondary"
    [buttonSize]="'middle'"
    (clickEvent)="cancelSaveSelection()"
  ></app-button>
  <app-button
    [text]="'save'"
    [color]="'success'"
    [buttonSize]="'middle'"
    (clickEvent)="saveSelection()"
  ></app-button>
</mat-dialog-actions>
