<div class="container">
  <div class="header">
    {{ header }}
  </div>
  <div class="invoice-number">
    {{ "invoiceNumber" | translate }}: {{ dataModel.invoiceNumber }}
  </div>
  <div class="buyer" *ngIf="dataModel.buyerName">
    {{ "buyer" | translate }}: {{ dataModel.buyerName }}
  </div>
  <div class="date">
    {{ "date" | translate }}: {{ dataModel.date | date: "dd/MM/yyyy" }}
  </div>
  <div class="invoice-items">
    <div
      class="item"
      *ngFor="let item of dataModel.invoiceItems; let i = index"
    >
      <div class="title">{{ i + 1 }}. {{ item.title }}</div>
      <div class="description">{{ item.description }}</div>
      <div class="amount">
        {{ item.amount | number: "1.2-2" }} {{ currencyDisplay }}
      </div>
    </div>
  </div>
  <div class="amounts">
    <div class="gross-amount">
      {{ "total" | translate }}: {{ dataModel.amount | number: "1.2-2" }}
      {{ currencyDisplay }}
    </div>
    <div class="advance-payment">
      {{ "advancePayment" | translate }}:
      {{ dataModel.advancePayment | number: "1.2-2" }}
      {{ currencyDisplay }}
    </div>
    <div class="rest-payment">
      {{ "restPayment" | translate }}:
      {{ dataModel.amount - dataModel.advancePayment | number: "1.2-2" }}
      {{ currencyDisplay }}
    </div>
  </div>
  <div class="footer">
    {{ footer }}
  </div>
</div>
