<div class="main-container">
  <app-button
    [text]="'frames' | translate"
    (clickEvent)="navigateTo('frames')"
  ></app-button>
  <app-button [text]="'glass'" (clickEvent)="navigateTo('glass')"></app-button>
  <app-button
    [text]="'passpartu' | translate"
    (clickEvent)="navigateTo('passpartu')"
  ></app-button>
  <app-button
    [text]="'passpartuColor' | translate"
    (clickEvent)="navigateTo('passpartu-color')"
  ></app-button>
  <app-button
    [text]="'glassWidth' | translate"
    (clickEvent)="navigateTo('glass-width')"
  ></app-button>
  <app-button
    [text]="'faceting' | translate"
    (clickEvent)="navigateTo('faceting')"
  ></app-button>
  <app-button
    [text]="'sandblasting' | translate"
    (clickEvent)="navigateTo('sandblasting')"
  ></app-button>
  <app-button
    [text]="'appSettings' | translate"
    (clickEvent)="navigateTo('app-settings')"
  ></app-button>
</div>
