.container {
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;

  .header {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px dotted black;
  }

  .date {
    border-bottom: 1px dotted black;
  }

  .invoice-items {
    .item {
      border-bottom: 1px dotted black;

      .title {
        font-weight: 600;
      }

      .description {
        padding: 10px;
      }

      .amount {
        text-align: end;
        font-weight: 600;
      }
    }
  }

  .amounts {
    .gross-amount,
    .advance-payment,
    .rest-payment {
      text-align: end;
      font-weight: 600;
    }
  }

  .footer {
    margin-top: 30px;
    text-align: center;
  }
}
