.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  // TODO max-width should be deleted - just for dev mode
  max-width: 400px;
  font-size: 1.1em;

  .barcode {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .header {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    border-bottom: 1px dotted black;
    flex-wrap: wrap;
    padding: 5px 0;
  }

  .invoice-number,
  .buyer,
  .date {
    padding: 5px 0;
  }

  .date {
    border-bottom: 1px dotted black;
    flex-wrap: wrap;
  }

  .invoice-items {
    flex-wrap: wrap;

    .item {
      display: flex;
      flex-direction: column;
      border-bottom: 1px dotted black;
      padding: 5px 0;

      .item-content {
        display: flex;
        flex-direction: row;

        .number {
          font-weight: 600;
          flex-wrap: wrap;
        }
        .description {
          display: flex;
          flex-wrap: wrap;
        }
      }

      .amount {
        display: flex;
        flex-direction: row-reverse;
        font-weight: 600;
      }
    }
  }

  .amounts {
    padding: 5px 0;
    .gross-amount,
    .advance-payment,
    .rest-payment {
      text-align: end;
      font-weight: 600;
    }
  }

  .footer {
    margin-top: 30px;
    text-align: center;
  }
}
