<div class="container">
  <div class="invoice-header">
    <app-button
      [iconName]="'plus'"
      [iconPosition]="'left'"
      [fullWidth]="true"
      [text]="'framing' | translate"
      color="secondary"
      [buttonSize]="'middle'"
      (clickEvent)="create('framing')"
      class="button"
    ></app-button>
    <app-button
      [iconName]="'plus'"
      [iconPosition]="''"
      [fullWidth]="true"
      [text]="'glassing' | translate"
      color="secondary"
      [buttonSize]="'middle'"
      (clickEvent)="create('glassing')"
      class="button"
    ></app-button>
  </div>
  <div class="invoice-items">
    <div class="grid-container">
      <div class="grid-item table-header">
        {{ "description" | translate }}
      </div>
      <div class="grid-item table-header">
        {{ "price" | translate }}
      </div>
      <div class="grid-item table-header">
        {{ "edit" | translate }}
      </div>
      <div class="grid-item table-header">
        {{ "delete" | translate }}
      </div>
      <ng-container *ngFor="let invoiceItem of invoice.invoiceItems">
        <div class="grid-item description">
          <app-framing-description
            [dataModel]="invoiceItem"
          ></app-framing-description>
        </div>
        <div class="grid-item">
          <div class="price">
            {{ invoiceItem.amount | number: "1.3-3" }}{{ currency }}
          </div>
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'edit'"
            buttonSize="small"
            [isTransparentMode]="true"
            (clickEvent)="editInvoiceItem(invoiceItem)"
            class="button"
          ></app-button>
        </div>
        <div class="grid-item">
          <app-button
            [iconName]="'trash-2'"
            buttonSize="small"
            [isTransparentMode]="true"
            (clickEvent)="deleteInvoiceItem(invoiceItem)"
            class="button"
          ></app-button>
        </div>
      </ng-container>
      <div class="grid-item sum">{{ "sum" | translate }}:</div>
      <div class="grid-item">
        {{ invoice.amount | number: "1.3-3" }}{{ currency }}
      </div>
      <div class="grid-item"></div>
      <div class="grid-item sum"></div>
    </div>
  </div>
  <div>
    <app-invoice-order-printed
      *ngIf="invoice && invoicePrinted"
      [dataModel]="invoice"
    ></app-invoice-order-printed>
    <app-invoice-printed
      *ngIf="invoice && invoicePrinted"
      [dataModel]="invoice"
    ></app-invoice-printed>
  </div>
  <div class="buttons">
    <app-button
      [text]="'cancel' | translate"
      color="secondary"
      [buttonSize]="'middle'"
      (clickEvent)="cancel()"
    ></app-button>
    <app-button
      [text]="'print' | translate"
      color="success"
      [buttonSize]="'middle'"
      (clickEvent)="print()"
    ></app-button>
  </div>
</div>
